section. article, nav, footer, header { 
	display : block;
}

body {
	background: rgba(0,0,0,0.4);
	font-family: Arial;
	margin: 0 auto;
	width: 60%;
}
section {
	background: rgba(255,255,255,0.5);
	margin-top: 10px;
	padding: 10px 5px;
	width: 100%;
}
header, footer{
	background: rgba(51, 51, 51,1);
	border: 1px solid #fff;
	border-radius: 4px;
	color: #fff;
	font-size: 13px;
	margin: 0 auto;
	margin-top: 10px;	
	width: 100%;
	padding: 10px 5px;
	text-align: center;
}